/*****************************
 custom styles
*****************************/

body{
  font-family:$main-font;
  font-size:20px;
  font-weight:$normal;
}

h1{
  font-family:$alt-font;
  font-size:50px;
}
h2{
  font-family:$alt-font;
  font-size:50px;
}
h3{
  font-family:$alt-font;
  font-size:30px;
}

*:focus{
  outline:none !important;
}

p{
  line-height:1.2em;
}

.btn-cutout{
  font-size:18px;
  color:#fff;
  display:inline-block;
  background-color: #CA8B83;
  border: 5px dashed #543E36;
  border-radius:12px;
  background-clip:padding-box;
  padding:5px;
}
.btn-cutout:hover,
.btn-cutout:focus{
  border-style:solid;
  color:#fff;
  text-decoration:none;
}

#main-content{
  position:relative;
  z-index:99;


  h3{
    font-size:28px;
  }

  article{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:100px;
  }
  article>header{
    margin-bottom:40px;
  }
  article>header>h3{
    margin-bottom:20px;
  }
  article>header>p{
    font-size:24px;
  }
  section p{
    text-align:left;
  }

  .vip-sponsors{
    margin-top:40px;

    ul li{
      margin-left:15px;
      margin-right:15px;
    }
    
    ul img{
      max-width:140px;
      height:auto;
      margin-top:20px;
    }
  }

  .sponsors-list{
    @extend .vip-sponsors;

    ul img{
      max-width:100px;
    }
  }

  .vendors{
    margin-top:80px;
  }
  .vendors-list{
    @extend .sponsors-list;
  }

  .map{
    background-image:url(images/map.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    margin:-90px -20px -15px -20px;
    height:685px;

    .map-stripe{
      background-color: rgba(224, 173, 165, .4);
    }
  }
}